<a class="Answers-footerLink"
  href="https://deepbluerestaurants.com/"
  target="_blank"
  rel="nofollow noopener noreferrer"
  aria-label="Visit deepbluerestaurants.com">
  <span class="Answers-footerLogo">{{> static/assets/images/yext-logo}}</span>
</a>
